body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

input {
  background: transparent;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 4px 8px;
  outline: none;
  height: 30px;
  font-size: 1em;
  line-height: 1.1em; }
  input:focus {
    border-color: #009dd6; }

.form-group {
  margin-bottom: 15px; }
