.no-loans-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; }
  .no-loans-container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2em; }
  .no-loans-container__icon {
    margin: 10px 0;
    font-size: 3em; }
  .no-loans-container__action {
    margin: 10px 0; }
