.no-loans-container {
    position: absolute;
    left: 0;
    right:  0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.2em;
    }

    &__icon {
        margin: 10px 0;
        font-size: 3em;
    }

    &__action {
        margin: 10px 0;
    }
}